---
layout: home
---

<ul class="ite-postlist">
    {% for post in site.posts %}
    <li class="ite-postlist-item">

        <div class="ite-postlist-item-content {% if forloop.index == 1 %}ite-postlist-item-featured{% endif %}">

            <aside class="ite-postlist-item-image">

            </aside>

            <div class="ite-postlist-item-metadata">

                <h3 class="ite-postlist-item-title">
                    <a class="ite-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </h3>

                <p class="ite-postlist-item-summary">{{ post.summary }}</p>
                <div class="ite-post-readmore">
                    <a class="ite-postlist-item-link ite-link" href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}">Read more</a>
                </div>

                <!--<span class="ite-postlist-item-date">{{ post.date | date: "%b %-d, %Y" }}</span>-->
            </div>

        </div>

    </li>
    {% endfor %}
</ul>
