.ite-footer {
    background-color: $yankees-blue;
    font-family: $title-font;
    font-size: 0.9rem;
    padding: 1.5em;
}

.ite-footer-nav {
    font-size: 1em;
}

.ite-footer-nav-item {
    color: $isabelline;
}

.ite-footer-twitter {
    color: $isabelline;
    float: right;
    font-size: 1em;
}

.ite-footer-twitter-icon svg {
    height: 1em;
    margin-bottom: -3px;
    width: 1em;
}

.ite-footer-twitter-icon svg path {
    fill: $isabelline;
}
