.ite-header {
    background-color: $steel-blue;
    font-size: 1rem;
    padding: 1.5em;
}

.ite-header-title {
    color: $white;
    font-family: $title-font;
    font-size: 1em;
    font-weight: bold;
}
