.ite-post {
    margin: 0 auto;
    max-width: 34em;
    padding: 3.4em 0;
}

.ite-post-title {
    font-family: $title-font;
    font-size: 2em;
    padding-bottom: 0.6em;
}

.ite-post-image {
    padding: 2em 0;
}

.ite-post-image-content {
    width: 100%;

    @media only screen and (min-width: 42em) {
        width: 42em;
        margin-left: -4em;
    }
}

.ite-post-quote {
    font-size: 0.9em;
    margin-bottom: 1.4em;
    padding-left: 1em;
    border-left: 1em solid $isabelline
}

.ite-post-continue {
    text-align: right;
}

.ite-post-link {
    font-family: $title-font;
    font-size: 0.9em;
    font-weight: bold;
    text-transform: uppercase;
}
