.ite-post {
    padding: 3.4em 0;
    font-size: 1rem;
}

.ite-post-title {
    font-family: $title-font;
    font-size: 2em;
    padding: 0 0.5em 0.6em;
    margin: 0 auto;
    max-width: 18em;
}

.ite-post-content {
    margin: 0 auto;
    padding: 0 1em;
    max-width: 36em;
}

.ite-post-image-link {
    display: block;
    margin: 2em auto;
    width: 100%;
    max-width: 42em;
}

.ite-post-image {
    width: 100%;
}

.ite-post-quote {
    font-size: 0.9em;
    margin: 0 auto 1.4em;
    padding: 0 1em;
    width: 100%;
    max-width: 39em;

    @media only screen and (min-width: 36em) {
        padding: 0 2em 0 1em;
        border-left: 1em solid $isabelline;
        max-width: 41.8em;
    }
}

.ite-post-continue {
    text-align: right;
    margin: 0 auto;
    padding: 0 1em;
    max-width: 36em;
}

.ite-post-link {
    font-family: $title-font;
    font-size: 0.9em;
    font-weight: bold;
    text-transform: uppercase;
}
