---
layout: content
---

<article class="ite-post" itemscope itemtype="http://schema.org/BlogPosting">

    <h1 class="ite-post-title" itemprop="name headline">{{ page.title }}</h1>

    <div class="ite-post-content">{{ content }}</div>

    <a class="ite-post-image-link" href="{{ page.article.url }}" title="{{ page.article.title }} on {{ page.article.source }}">
        <img class="ite-post-image" src="{{ page.article.image }}" alt="{{ page.article.title }}" />
    </a>

    <blockquote class="ite-post-quote">&quot;{{ page.article.intro-text }}&quot;</blockquote>

    <aside class="ite-post-continue">
        <a class="ite-post-link ite-link" href="{{ page.article.url }}" title="{{ page.article.title }} on {{ page.article.source }}">Continue reading on {{ page.article.source }}</a>
    </aside>

</article>
